:root {
  --color-bg1: #96b4a8;
  --color-bg2: #6ccca4;
  --color-borders: #27ad75;
  --color-hover: #1d8158;
  --blending: soft-light;
  --body-font: 'Courier New', monospace;
  --body-color: #000000;
  --padding: 10px;
}

* {
    font-family: var(--body-font);
    color: var(--body-color);
    outline:none;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
    background: transparent;
    border:none;
}

.navbar {
	display: flex;
	position: sticky;
  align-items: center;
  height: 62px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	font-weight: 600;
	border-bottom: 1px solid #2c2d2a40;

  @media screen {
    
  }
  
	&.menu {
    display: flex;
		align-items: center;
		
    @media screen {
      width: calc(100% + 20px);
      margin-left: -10px;
    }

		a:not(:first-child) {
			margin-left: 20px;

      &:last-child {
        margin-right: auto;
      }
		}
	}

	&.icons {
    .item {
      svg {
        align-self: center;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:first-child {
        margin-left: auto;
      }

      .popup {     
        position: absolute;
        right: var(--padding);
        align-items: right;
        display: flex;
        flex-direction: column;
        border: 2px solid var(--color-borders);
        border-radius: 5px;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        background: var(--color-bg2);
      }
      
      &:hover .popup {
        visibility: visible;
        opacity: 1;
      }
    }
	}
}

.authbox {
  margin: 0;
  padding: 25px 50px;
  width: 350px;
  min-height: 115px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  color: #666;

  form {
    padding: 0 10px 10px;
  }
  form::after {
    content: "";
    display: block;
    clear: both;
  }
  label {
    position: absolute;
    left: -9999px;
  }
  input {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0 5px;
    width: 225px;
    height: 30px;
    border: 1px solid var(--color-borders);
  }
  input:focus {
    z-index: 15;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    outline: 0;
  }
  #password {
    top:-1px;
    margin-bottom: 5px;
  }
  .register-form {
    display: none;
  }
  .register-form input {
    margin: -1px 0;
  }
  #first-name {
    margin-top: 5px;
  }
  .captcha {
    margin: 10px 0;
  }
  .captcha label {
    position: relative;
    left: 0;
  }
  #submit {
    float: right;
    padding: 0;
    width: 75px;
    background: var(--color-borders);
    border-color: var(--color-borders);
    border-radius: 2px;
  }
  #submit:hover {
    background: var(--color-hover);
    border-color: var(--color-hover);
  }
  #submit ~ a {
    display: block;
    float: left;
    width: 120px;
    text-decoration: none;
    color: #666;
  }
}

.gradient-bg {
  width: 100%;
  height: 100vh;
  display: flex;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 0 20px;
  
  .svgBlur {
    display: none;
  }
  
  .noiseBg {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    mix-blend-mode: var(--blending);
    opacity: 0.3;
  }
  
  @media (max-width: 480px) {
    padding: 0;
  }
}